* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #0062be;
    transition: 0.5s;
}

.nav-bar {
    overflow: hidden;
    background-color: #0062be;
    font-family: Arial;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transition: 0.5s;
}

.nav-bar img.logo {
    width: 60px;
    height: 60px;
}

.nav-bar li {
    list-style: none;
}

.nav-bar a, img {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

img.product-img {
    width: 7vw;
}

img.product-img-long {
    width: 5vw;
}

img.icon {
    float: none;
    width: 15px;
    margin: 0 10px;
    padding: 0;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.nav-bar a:hover, .dropdown:hover .dropbtn {
    color: orange;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 1;
}


.dropdown:hover .dropdown-content {
    display: block;
    height: 100vh;
}

.column {
    float: left;
    width: 33.3%;
    height: 100%;
    background-color: #d3d3d3;
}

.column-title {
    text-align: center;
    color: blue;
    margin-top: 30px;
}

.column a {
    float: none;
    color: black;
    height: 30vh;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
}

.column a div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column a:hover {
    background-color: #ddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    position: relative;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: inherit;
}

.text-box {
    position: relative;
    max-width: 600px;
}

.text-box h2 {
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 900;
}

.text-box h2 span {
    font-size: 1.8em;
}

.text-box p {
    color: white;

}

.text-box a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: white;
    color: #0062be;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

.text-box a:hover {
    background-color: #d93030;
    color: white;
}

.content .img-box {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb {
    display: flex;
    flex-direction: column;
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: scale(1.5);
}

.thumb li img {
    max-width: 40px;
}

.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.social-icon li {
    list-style: none;
}

.social-icon li a {
    display: inline-block;
    filter: invert(1);
    margin: 0 20px;
    transform: scale(0.7);
    transition: 0.5s;
}

.social-icon li a:hover {
    transform: scale(1.2);
}

@media (max-width: 1430px) {
    .column{
        width: 33.3%;
    }
}

@media (max-width: 800px) {

    .nav-bar {
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .text-box {
        text-align: center;
        margin: 5vh 0;
    }
    
    .thumb {
        flex-direction: row;
    }
}